body {
    background-color: #dedede;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    margin: 20px;
    background-color: #000;
    position: relative;
    border-radius: 15px;
    float: left;
    width: 290px;
    height: 130px;
}

#main-header {
    background-color: #000000;
    color: #fff;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 10%;
}

#main-header h1 {
    padding-left: 55px;
}

#navbar {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    background-image: url("../images/navbar-bg.webp");
    background-repeat: no-repeat;
    background-position: center center;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 25px;
}

#introducing {
    margin-top: 15px;
    background-image: url("../images/introducing.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 2em;
    padding: 180px 50px 10px 50px;
}

#introducing h1 {
    font-size: 20px;
    font-style: oblique;
    color:#fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#story {
    margin-top: 20px;
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    margin-top: 80px;
    float: right;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

#app_icon {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

#google_play {
    position: absolute;
    top: 15px;
    left: 125px;
    width: 150px;
    height: 45px;
}

#app_store {
    position: absolute;
    top: 70px;
    left: 125px;
    width: 150px;
    height: 45px;
}

#gitlab_icon {
    padding: center;
    border-radius: 5px;
    height: 30px;
}

#main-footer {
    background-color: #002a32;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin-top: 20px
}

.container-center {
    margin: 10px;;
}

@media(max-width: 1300px) {
    #story {
        width: 100%;
        float: none;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}
