/*
CSS Selectors.

selector | property | value
a { background-color: yellow; }

Colors in CSS: Color Names, HTML5 Color Names, Hexadecimal, RGB.
*/

/* Set every thing.
* {
    margin: 0;
    padding: 0;
}
*/

/* Set style to all bodies. */
body {
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* Same as above.*/
    font: normal Arialm, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: blue;
}

/*
Box Model: Content is surrounded by below structure.

margin (top, left, right, bottom) - Third layer.
border (top, left, right, bottom) - Second layer.
padding (top, left, right, bottom) - First layer.
"Content"

The way to set Margin & Padding...

p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

Or...

p {
    margin: 5px 10px 5px 10px; *top -> right -> bottom -> left
}

Or...

p {
    margin: 5px 10px; *(top & bottom) -> (left & right)
}

*/

/* Set style by class. */
.container {
    width: 80%; /* Use px or percentage. */
    margin: auto;
}

.clr {
    clear: both;
}

.button {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color: red;
    color: #ffffff;
}

.box-1 {
    background-color: #333333;
    color: #ffffff;

    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-right: 5px red solid;
    border-left: 5px red solid;

    /* Same as above. */
    border: 5px red solid;

    border-width: 3px; /* This will override above border width. */
    border-top-style: dotted; /* This will override above border style. */

    padding: 20px 10px;

    margin: 20px;
}

/* Set style to an element which is contained by certain class. */
.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #cccccc;
    padding: 20px;
    margin:  20px 0;
}

.categories {
    border: 1px #cccccc solid;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: square;
    list-style: none; /* Get rid above styles. */
    padding-left: 20px;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333333;
    list-style-image: url("images/check.png");
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-top: 5px;
}

.my-form label {
    display: block;
}
.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

/* Set style by id. */
#main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#side-bar {
    float: right;
    width: 30%;
    padding: 15px;
    background-color: #333333;
    color: #ffffff;
    box-sizing: border-box;
}

/*
Positioning in CSS.

- Static
- Relative
- Absolute: use parent's entire document.
- Fixed
- Initial
- Inherit
*/

.p-box {
    margin-top: 10px;
    width: 800px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
    background-image: url("../images/bg-fgo.png");
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1 {
    position: absolute;
    top: 10px;
    left: 100px;
}

.p-box h2 {
    position: absolute;
    bottom: 10px;
    right: 100px;
}

.fix-me {
    position: fixed;
    top: 200px;
}

.my-list li:first-child {
    background: red;
}

.my-list li:last-child {
    background: blue;
}

.my-list li:nth-child(5) {
    background: yellow;
}

.my-list li:nth-child(even) {
    background: grey;
}
